@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: transparent; /* For iOS devices */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* For Android devices */
}

::selection {
  background-color: rgb(142, 164, 172);
  color: white;
}

img {
  object-fit: cover;
  object-position: center;
}

.description {
  text-align: center;
  font-size: 1.4rem;
  font-family: Qwigley, cursive;
  letter-spacing: 3px;
  color: rgb(0, 0, 0);
  font-weight: 700;
}

body {
  background: #fff;
}

.container {
  max-width: 85%;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  box-sizing: border-box; /* Include padding in the width */
}

.container .title {
  width: 60%;
  margin: 0 auto 30px auto;
  margin-top: 10px;
}

.container .title h2 {
  font-family: "Lobster", cursive;
  font-size: 1.625rem;
  margin-bottom: 20px;
}

.container .title p {
  color: #333;
  font-size: 14px;
}

.content .menu-default {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  white-space: nowrap;
}

.content .menu-default li,
.menu-default a {
  color: #000;
  margin: 0 15px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  position: relative;
  text-decoration: none;
}

.content .menu-default li::after,
.my-nav-hovers a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  width: 0%;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  background: #65bff7;
  transition: 0.4s ease-in-out;
}

.content .menu-default li:hover::after,
.menu-default a:hover::after {
  width: 100%;
}

.content .menu-default li:nth-child(1) {
  color: #65bff7;
}

.menu-container,
.menu-container .menu-navigation {
  display: none;
}

.my-hover-container {
  position: relative;
  margin-top: 5px;
}

a::selection {
  background-color: transparent;
  color: black;
}

.hover-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 20px;
  padding: 0px 10px;
  border: none;
  transform: scale(0.8);
  transition: opacity 110ms;
}

.hover-menu svg {
  color: white;
  font-weight: 400;
  transform: scale(1);
}

.hover-menu:active {
  opacity: 0.7;
}

.hide {
  display: none;
}

.my-nav-hovers.show {
  display: block;
}

.my-nav-hovers {
  position: absolute;
  width: 100px;
  padding-top: 5px;
  background-color: rgba(0, 0, 0, 0.848);
  padding: 5px 10px;
  top: 30px;
  left: -10px;
  right: 0px;
  justify-content: center;
  border-radius: 10px;
  /* Set initial opacity to 0 */
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out 0.3s; /* Add transition properties */
}

.my-nav-hovers a::selection {
  color: white;
}

.my-nav-hovers a {
  color: white;
  display: flex;
  margin: 2px 0;
  margin-right: 10px;
  font-weight: 400;
  font-size: 0.8rem;
  pointer-events: fill;
}

.burger-menu-container {
  display: none;
}

h1 {
  margin-top: 50px;
  margin-bottom: 20px;
  text-decoration: underline #65bff7;
  font-family: "Qwigley", cursive;
  letter-spacing: 8px;
  font-weight: 400;
  font-size: 2.7rem;
  width: 100%;
}

.omelette-list {
  width: 500px;
  font-style: italic;
  margin: 0 auto;
  border-radius: 20px;
}

.omelette-list li {
  margin-bottom: 10px;
  font-size: 1rem;
}

.upscale {
  font-size: 0.51rem;
}

.box_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.box_flex-middle {
  justify-content: center;
  column-gap: 22px;
}

.box {
  width: 32%;
  border-radius: 3px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin-bottom: 20px;
  animation: movement 1s ease-in-out;
  box-shadow: inset 0 0 2px lightgray;
  padding: 20px;
  border-radius: 10px;
}

.box img {
  pointer-events: none;
}

.blacked-h1-container {
  background-color: black;
  color: white;
}

.blacked-box {
  margin-top: 20px;
  cursor: default;
}

.blacked-box:hover {
  background-color: rgba(0, 0, 0, 0.055);
}

.box .box_img {
  height: 130px;
  width: 130px;
  text-align: center;
  background-color: aqua;
}

.box_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box .text {
  text-align: left;
  width: 60%;
  height: 130px;
  padding-left: 10px;
}

.light-dishes-extend {
  width: 45%;
  justify-content: start;
}

.text h3 {
  text-transform: capitalize;
}

.text hr {
  width: 50px;
  background: #d4a373;
  height: 3px;
  margin: 5px 0 10px 0;
}

.text section {
  font-weight: 600;
  margin-bottom: -5px;
}

.text .stars {
  margin-bottom: -2px;
}

.text .stars i {
  font-size: 13px;
  color: #d4a373;
}

.text article {
  font-size: 0.8rem;
  font-style: italic;
  font-family: monospace;
  color: gray;
  margin-top: 5px;
}

.text .drink-article {
  font-weight: 600;
  font-size: 1rem;
  color: #008d44;
}

.length {
  height: 400px;
}

.t-cs {
  height: 35px;
  background-color: rgb(34, 34, 34);
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightgray;
  padding-left: 10px;
  font-size: 0.8rem;
}

.t-cs a {
  text-decoration: none;
  color: lightgray;
  padding: 0 5px;
}

.box {
  display: none;
}

.Breakfast {
  display: flex;
}

.omelete-breakfast {
  display: flex;
  flex-direction: column;
  background-color: #50431e;
  color: white;
  margin: 20px 20px 0px 0;
}

.drink-list-container,
.dark-mode {
  color: white;
  padding: 0px 16px;
  padding-top: 40px;
}

.drink-list-container .box {
  background-color: #025385;
  min-height: 210px;
  align-items: center;
}

.softdrink-list-container .box {
  background-color: burlywood;
  color: white;
}

.softdrink-list-container section {
  font-weight: 500;
  font-style: italic;
}

@keyframes movement {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes burger-animation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.burger-animation {
  animation: burger-animation 1s linear;
}

.fixed-spot {
  display: none;
}

.fixed-spot {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 30px;
  z-index: 99;
  box-shadow: none;
  border-radius: none;
}

.fixed-center {
  background-color: black;
  padding: 5px 20px;
  border-radius: 30px;
  cursor: pointer;
  overflow-x: hidden;
}

.fixed-center a {
  color: lightgray;
  text-decoration: none;
  transition: color 120ms;
  margin: 0 5px;
 
}

.subtag.active {
  border-bottom: 1px solid green;
  color: #00d467;
}

/* Responsive Styles */

@media (max-width: 991px) {
  .container .title {
    width: 80%;
  }

  .box_flex-middle {
    justify-content: space-between;
    column-gap: 0;
  }

  .box .box_img {
    text-align: left;
  }
  .box_img img {
    width: 100%;
    height: 100%;
  }
  .box {
    width: 100%;
  }
  .box .text {
    width: 70%;
  }
}

@media (max-width: 670px) {
  .container {
    max-width: 100%;
    padding: 0px;
    margin-top: 0px;
    padding-top: 80px;
  }

  .title h2 {
    display: none;
  }

  .burger-title {
    margin-right: 58px;
  }

  .burger-title h2 {
    font-family: "Lobster", cursive;
    font-weight: 300;
  }

  .box {
    width: 100%;
    flex-wrap: wrap;
    padding: 20px;
  }

  .box .box_img {
    width: 100%;
  }

  .box_img img {
    width: 100%;
  }

  .box_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .box .text {
    width: 100%;
    height: 130px;
    padding-left: 0;
    margin-top: 8px;
  }

  .text article {
    line-height: 25px;
  }

  .content .disapear {
    display: none;
  }

  .burger-menu-container {
    position: fixed;
    right: 0;
    left: 0;
    top: -1px;
    background-color: black;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 60px;
    cursor: pointer;
    color: white;
    padding-right: 14px;
    z-index: 99;
    border: none;
    border-bottom: 1px solid lightgray;
  }

  .wrap-container {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .burger-menu {
    width: 40%;
    height: 100%;
  }

  .burger-menu-container p {
    padding-right: 5px;
  }

  .burger-menu-container p::selection,
  svg::selection {
    background-color: transparent;
    color: white;
  }

  .length {
    background-color: transparent;
    min-height: 540px;
    padding: 10px;
    margin: 0;
  }

  .omelette-list {
    height: 100%;
    font-size: 1rem;
    line-height: 30px;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .omelette-list li {
    width: 100%;
    font-weight: 400;
  }

  .menu-navigation {
    flex-direction: column;
    align-items: start;
    position: fixed;
    top: 59px;
    left: 0;
    right: 0;
    padding: 20px;
    margin-bottom: 20px;
    background-color: black;
    z-index: 99;
  }

  .menu-navigation li {
    width: 100%;
    text-align: start;
    border: 1px solid white;
    padding: 10px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    margin-bottom: 18px;
  }

  .li-a {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    margin-bottom: 18px;
    color: white;
    position: relative;
  }

  .li-a a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 0.8rem;
    white-space: nowrap;
  }

  .menu-container p {
    color: white;
    font-family: cursive;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 20px;
    text-decoration: 4px underline white;
  }

  .menu-navigation li:nth-child(2) {
    color: #65bff7;
  }

  .menu-navigation li::selection,
  .menu-navigation .li-a a::selection {
    background-color: none;
  }

  .menu-navigation li:active,
  .menu-navigation .li-a a:active {
    background-color: rgba(236, 236, 236, 0.753);
  }

  .drink-list-container {
    background-color: rgb(31, 31, 31);
    padding: 0px 16px;
    padding-top: 40px;
  }

  .drink-list-container .box {
    background-color: black;
    border-radius: 10px;
  }

  .fixed-spot {
    display: none;
  }



}
