* {
  margin: 0;
  padding: 0;
  font-family: "Hammersmith One", sans-serif;
  box-sizing: border-box; /* Add box-sizing property */
}

.Darios-font {
  font-family: "Rubik Bubbles", cursive;
}

h2 {
  font-family: "Cedarville Cursive", cursive;
}

body {
  /* font-family: Arial, sans-serif; */
  background-color: #f5f5ef;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  border: 1px solid black;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

h1 a {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.Darios-font {
  font-family: "Rubik Bubbles", cursive;
  font-size: 2.4rem; /* Adjust font size */
  margin-right: 8px;
  color: rgb(37, 37, 37);
}

.slant {
  font-family: "Cedarville Cursive", cursive;
  color: #53835f; 
  font-size: 1.9rem; /* Adjust font size */
  padding-top: 10px;
}

.navigation {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 20px;
}

.navigation a {
  margin: 0 0px;
  text-decoration: none;
  padding: 9px 12px;
  border-radius: 5px;
  background-color: #ddd;
  transition: background-color 0.3s;
  margin-bottom: 5px;
  background-color: #53835f; /* Adjust background color */
  color: #fff;
  font-size: 1.7rem; /* Adjust font size */
}

.navigation a:hover {
  background-color: #3e6448;
}

.des-cat h2 {
  margin: 8px 0;
}

.des-cat,
.des-cat2 {
  text-align: center;
  color: #0056b3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.des-cat .description {
  font-style: italic;
  font-size: 1.4rem; /* Adjust font size */
  color: rgb(240, 240, 240);
}

.des-cat2 {
  margin: 0px 0 60px 0;
}

.des-cat2 .description {
  text-align: center;
  font-size: 1.6rem; /* Adjust font size */
  font-family: "Cedarville Cursive", cursive;
  line-height: 1.8rem; /* Adjust line height */
  color: rgb(240, 240, 240);
  background-color: #c82a35;
  border-radius: 20px;
  padding: 30px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-top: 30px;
  color: #555;
  font-family: "Cedarville Cursive", cursive;
  text-decoration: underline;
  font-size: 2rem; /* Adjust font size */
}

.omelette-list {
  text-align: start;
}

.omelette-list ul {
  list-style: none;
  text-align: center;
  padding: 30px;
  font-size: 1.6rem; /* Adjust font size */
}

.menu-category {
  margin-bottom: 30px;
}

.menu-item {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping */
  margin-bottom: 20px;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 10px;
} 

.menu-item .name {
  font-weight: bold;
  margin-right: 10px;
  flex: 1 1 auto; /* Allow shrinking and growing */
  width: 60%;
  letter-spacing: 1px;
  font-size: 1.6rem;
  color: #333;
}

.span-options {
  font-size: 1rem; /* Adjust font size */
  margin: 0 10px;
  font-style: italic;
  color: #777;
  font-weight: bold;
}

.menu-item svg {
  width: 25px;
  height: 25px;
  fill: #777;
  margin-left: auto;
  fill: rgb(252, 147, 109);
}

.options2 svg {
  margin: 0;
  margin-bottom: -5px;
}

.menu-NP .description {
  color: #555;
  font-size: 1.4rem;
  margin-bottom: 10px;
  width: 100%; /* Ensure full width */
}

.menu-item .price {
  color: #777e77;
  margin-top: 10px;
  font-size: 1.2rem;
}

.menu-column {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin-bottom: 30px;
  margin-top: 40px;
}

.menu-NP {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; /* Align items to the bottom */
  margin-bottom: 10px;
  width: 100%; /* Ensure full width */
}

.t-cs {
  height: 50px;
  background-color: #333; /* Adjust background color */
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem; /* Adjust font size */
  padding: 20px;
}

.t-cs a {
  text-decoration: none;
  color: #fff;
  padding: 5px 5px;
  transition: text-decoration 120ms;
}

.t-cs a:hover {
  text-decoration: underline;
}

/* handles the toastie ul */
.toasties-list, .omelette-list, .rossellas-des {
  background-color: #53835f;
  border-radius: 20px;
  margin: 0 auto;
}

.toasties-list ul li,  .omelette-list ul li{
  padding: 0px 0px 20px;
  font-size: 1.3rem;
  color: rgb(240, 240, 240);
}

.rossellas-des {
  color: rgb(240, 240, 240);
  padding: 20px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .stripe1 {
    border-right: 10px solid #c82a35;
  }

  .stripe2 {
    border-right: 10px solid #f7f7f7;
    margin: 0 10px;
  }

  .stripe3 {
    border-right: 10px solid #008d44;
  }

  .navigation {
    /* Keep the existing styles for positioning */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    font-size: 1.7rem;
  }

  .navigation a {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    padding: 12px;
    color: #fff;
  }

  .menu-column {
    grid-template-columns: 1fr 1fr;
    column-gap: 140px;
  }

  .menu-item {
    font-size: 1.6rem;
  }

  .menu-item .description {
    font-size: 1.3rem;
    font-style: italic;
    width: 90%;
    margin-top: 10px; /* Add margin to separate from the item name */
  }

  h1 {
    border: 1px solid #333;
    color: #333;
  }

  h1 a {
    padding: 10px;
  }

  h2 {
    font-size: 2.4rem;
    margin-bottom: 40px;
    color: #555;
  }

  .des-cat {
    margin-top: 60px;
    margin-bottom: 70px;
  }

  .des-cat .description {
    font-size: 1.5rem;
  }

  .des-cat2 {
    margin: 60px 0 90px 0;
  }


  .omelette-list ul {
    margin-bottom: 20px;
  }

  .li-3 {
    text-decoration: underline;
    margin: 20px 0 10px 0;
    font-weight: normal;
  }

  .span-options {
    font-size: 1rem;
  }

  .des-cat2 .description {
    font-size: 2.3rem;
    line-height: 30px;
    color: rgb(240, 240, 240);
  }

  .Darios-font {
    font-family: "Rubik Bubbles", cursive;
    font-size: 2.4rem;
  }

  .slant {
    font-family: "Cedarville Cursive", cursive;
    color: #007bff;
  }

  .upscale {
    font-size: 1.3rem;
    font-style: italic;
    margin-top: 3px;
  }

 
}

@media (min-width: 1024px) {
  .stripe1 {
    border-right: 12px solid #c82a35;
  }

  .stripe2 {
    border-right: 12px solid #f7f7f7;
    margin-right: 10px;
  }

  .stripe3 {
    border-right: 12px solid #008d44;
    margin-right: 10px;

  }

  .navigation {
    /* Keep the existing styles for positioning */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    font-size: 1.7rem;
  }

  .navigation a {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    padding: 8px;
    color: #fff;
  }

  .menu-item {
    font-size: 1.6rem;
  }

  .menu-item .description {
    font-size: 1.3rem;
    font-style: italic;
    width: 90%;
    margin-top: 10px; /* Add margin to separate from the item name */
  }

  .menu-column {
    grid-template-columns: 1fr 1fr;
    column-gap: 130px;
  }

  h1 {
    border: 1px solid #333;
    color: #333;
  }

  h1 a {
    padding: 10px;
  }

  h2 {
    font-size: 2.4rem;
    margin-bottom: 40px;
    color: #555;
  }

  .des-cat {
    margin-top: 60px;
    margin-bottom: 70px;
  }

  .des-cat .description {
    font-size: 1.5rem;
    
  }

  .des-cat2 {
    margin: 60px 0 90px 0;
  }

  .omelette-list ul {
    margin-bottom: 20px;
  }

  .li-3 {
    text-decoration: underline;
    margin: 20px 0 10px 0;
    font-weight: normal;
  }

  .span-options {
    font-size: 1rem;
  }

  .des-cat2 .description {
    font-size: 2.3rem;
    line-height: 30px;
    color: #f0f0f0;
  }

  .Darios-font {
    font-family: "Rubik Bubbles", cursive;
    font-size: 2.4rem;
  }

  .slant {
    font-family: "Cedarville Cursive", cursive;
  }

  .upscale {
    font-size: 1.3rem;
    font-style: italic;
    margin-top: 3px;
  }
}
