* {
  margin: 0;
  padding: 0;
  font-family: "Hammersmith One", sans-serif;
}

.box2-section2 {
  display: none;
}

img {
  pointer-events: none;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.622), rgba(0, 0, 0, 0.622)),
    url("images/inside-darios1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.body-container {
  background-color: rgb(245, 245, 239);
}

/* header */
header {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  animation: fadeIn 1s ease-in-out;
}

.mytitle,
.myslogan,
.mydiv {
  display: flex;
  justify-content: center;
}

.mytitle {
  padding-top: 30px;
  font-size: 20px;
  font-family: "Solway", serif;
}

.myslogan {
  letter-spacing: 5px;
  font-size: 57.9px;
  text-align: center;
  padding: 20px 0;
}

.mybtn {
  text-decoration: none;
  color: black;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 00px 12px;
  border-radius: 3px;
  transition: background-color 150ms, color 150ms, border 150ms;
  font-family: "Hanken Grotesk", sans-serif;
}

.mybtn:active {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

/* heroboxes */
main {
  min-height: 10px;
}

.myherobox {
  min-height: 650px;
}

/* box1 */
.box1 {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 800px;
  padding: 50px;
}

.image-cards {
  display: grid;
  grid-template-columns: 1fr;
}

.image-cards img {
  object-fit: cover;
  height: 70%;
  width: 100%;
  pointer-events: none;
}

.card1 {
  display: none;
}

.card2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card2 img {
  width: 120%;
  height: 100%;
}

.about-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px;
}

.about-title {
  font-family: "Hammersmith One", sans-serif;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.about-paragraph {
  font-family: "Hanken Grotesk", sans-serif;
  font-style: italic;
  padding: 30px;
  border: 1px solid black;
  width: 100%;
}

/* box2 -- flavours of hout bays finest */

.box2-section {
  padding: 30px;
  min-height: 100px;
}

.box2 {
  display: grid;
  grid-template-columns: 1fr;
  padding: 30px;
  min-height: 920px;
  row-gap: 60px;
}

.box2--card1 {
  height: 70%;
}

.box2--card1 h1 {
  width: 200px;
}

.box2--card2 {
  height: 263px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}

.box2--card2 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  font-family: "Hammersmith One", sans-serif;
}

.img4 {
  display: none;
}

.img2 {
  object-position: center;
}

.box2--card2 p {
  padding-top: 20px;
  text-decoration: underline;
}

/* box3 */
.box3 {
  background-color: black;
  color: white;
}

.box3-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* reviews */
.reviews-container {
  display: flex;
  justify-content: center;
}

.reviews-container a {
  margin-right: 20px;
  color: white;
}

/* location */
.location-container {
  background-color: rgb(245, 245, 239);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  height: 230px;
}

.maps {
  height: 100%;
  width: 100%;
  border: 1px solid black;
}

/* footer */

footer {
  display: grid;
  grid-template-columns: 1fr;
}

.contact-info {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding-left: 50px;
  padding-top: 20px;
  background-color: rgb(12, 12, 12);
  color: white;
}

.contact-info-title {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-size: 35px;
  padding: 20px;
  font-style: italic;
}

.contact-info-paths {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  width: 220px;
  padding: 20px;
  margin-top: 20px;
}

.myphone,
.myemail,
.myaddress {
  font-size: 12px;
  margin-bottom: 30px;
}

.myphone a,
.myemail a,
.myaddress p {
  font-size: 1rem;
  margin-top: 3px;
  color: #535353;
  text-decoration: none;
}

.myphone h2,
.myemail h2 {
  margin-bottom: 3px;
}

.sigebrand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.t-cs {
  height: 35px;
  background-color: rgb(34, 34, 34);
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightgray;
  padding-left: 10px;
  font-size: 0.8rem;
}

.t-cs a {
  text-decoration: none;
  color: lightgray;
  padding: 0 5px;
}

/* Tablets/Ipads */
@media (min-width: 768px) and (max-width: 1023px) {
  header {
    min-height: 350px;
    justify-content: center;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.622),
        rgba(0, 0, 0, 0.622)
      ),
      url("images/inside-darios1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .image-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 20px;
    column-gap: 20px;
  }

  .image-cards img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    pointer-events: none;
  }

  .card1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card1 img {
    width: 100%;
    object-position: 0px;
  }

  .card2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card2 img {
    width: 100%;
    height: 100%;
  }

  .about-title {
    font-size: 1.5rem;
  }

  .about-paragraph {
    font-size: 1.5rem;
  }

  /* box2 -- flavours of hout bay */

  .box2-section {
    padding: 30px;
    min-height: 20px;
  }

  .box2--card1 {
    height: 100%;
    font-size: 1.85rem;
  }

  .box2--card1 h1 {
    width: 100%;
    text-decoration: underline rgb(29, 29, 29);
  }

  .box2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    min-height: 820px;
    column-gap: 30px;
  }

  .img4 {
    display: block;
    height: 493px;
  }

  .box2--card2 {
    height: 493px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    /* background-color: blue; */
  }

  .box2--card2 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    font-family: "Hammersmith One", sans-serif;
    border: 2px solid lightgray;
  }

  .img2 {
    object-position: center;
  }

  .box2--card2 p {
    padding-top: 20px;
    text-decoration: underline;
  }

  /* location */
  .location-container {
    height: 430px;
  }

  .maps {
    border: 3px solid lightgray;
  }

  /* footer */

  .contact-info-title {
    font-size: 3rem;
  }

  .contact-info-paths {
    min-width: 320px;
  }

  .myphone,
  .myemail,
  .myaddress {
    font-size: 1.2rem;
  }

  .myphone a,
  .myemail a,
  .myaddress p {
    font-size: 1.3rem;
    color: #797979;
    text-decoration: underline;
  }

  .sigebrand {
    font-size: 1rem;
  }

  .t-cs a {
    text-decoration: underline;
  }
}

@media (min-width: 1024px) {
  /* header */

  header {
    min-height: 650px;
    justify-content: space-around;
  }

  .mytitle {
    padding-top: 60px;
    font-size: 20px;
    font-family: "Solway", serif;
  }

  .myslogan {
    letter-spacing: 5px;
    font-size: 57.9px;
  }

  .box1 {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    padding: 50px;
  }

  .image-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 20px;
    column-gap: 20px;
  }

  .image-cards img {
    object-fit: cover;
    height: 70%;
    width: 100%;
    pointer-events: none;
  }

  .card1 {
    display: block;
    margin-right: 40px;
  }

  .card1 img {
    object-position: -220px 0px;
  }

  .card2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card2 img {
    width: 100%;
    height: 70%;
  }

  .about-text {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }

  .about-title {
    font-size: 1rem;
  }

  .about-paragraph {
    font-size: 1rem;
    padding: 40px;
    width: 80%;
  }

  /* box2 -- flavours of hout bay */

  .box2-section2 {
    display: block;
  }

  .box2-section {
    display: none;
  }

  .box2-section {
    padding: 30px;
    min-height: 20px;
  }

  .box2--card1 h1 {
    width: 200px;
    font-size: 32px;
  }

  .box2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px;
    min-height: 520px;
    column-gap: 30px;
  }

  .box2--card2 {
    height: 100%;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
  }

  .box2--card2 img {
    object-fit: cover;
    width: 100%;
    height: 70%;
    font-family: "Hammersmith One", sans-serif;
    border: 2px solid lightgray;
  }

  .img4 {
    display: none;
  }

  .img2 {
    object-position: center;
  }

  .box2--card2 p {
    padding-top: 20px;
    text-decoration: underline;
  }

  /* location */
  .location-container {
    height: 430px;
    padding: 40px;
    background-color: rgb(12, 12, 12);
  }

  .maps {
    border: 3px solid lightgray;
  }

  /* footer */
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(12, 12, 12);
  }

  .contact-info-title {
    font-size: 3rem;
  }

  .contact-info-paths {
    min-width: 320px;
  }

  .myphone,
  .myemail,
  .myaddress {
    font-size: 1rem;
  }

  .myphone a,
  .myemail a,
  .myaddress p {
    font-size: 1rem;
    color: #797979;
    text-decoration: underline;
  }

  .sigebrand {
    font-size: 1rem;
  }

  .t-cs a {
    text-decoration: underline;
  }
}
