* {
  margin: 0;
  padding: 0;
  font-family: "Hammersmith One", sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s;
}

.fade-in.show {
  opacity: 1;
}

header {
  /* existing styles for the header section */
  animation: fadeIn 1s ease-in-out;
}

img {
  pointer-events: none;
}

body {
  background-image:linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.622),
    rgba(0, 0, 0, 0.622)
  ), url("images/inside-darios1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* header */

header {
  height: 650px;
  display: grid;
  grid-template-columns: 1fr;
  color: white;
}

.mytitle,
.myslogan,
.mydiv {
  display: flex;
  justify-content: center;
}

.mytitle {
  padding-top: 60px;
  font-size: 20px;
  font-family: "Solway", serif;
}

.myslogan {
  letter-spacing: 5px;
  font-size: 57.9px;
}

.mybtn {
  text-decoration: none;
  color: black;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 00px 12px;
  border-radius: 3px;
  transition: background-color 150ms, color 150ms, border 150ms;
  font-family: "Hanken Grotesk", sans-serif;
}

.mybtn:active {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

/* heroboxes */

main {
  min-height: 10px;
}

.myherobox {
  background-color: rgb(245, 245, 239);
  height: 650px;
}

/* box1 */
.box1 {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  padding: 50px;
}

.image-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image-cards img {
  object-fit: cover;
  height: 70%;
  width: 100%;
  pointer-events: none;
}

.card1 {
  margin-right: 40px;
}

.card1 img {
  object-position: -220px 0px;
}

.card2 {
  display: flex;
  align-items: end;
  justify-content: center;
}

.card2 img {
  object-position: -50px 0px;
  height: 70%;
}

.about-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.about-title {
  font-family: "Hammersmith One", sans-serif;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.about-paragraph {
  font-family: "Hanken Grotesk", sans-serif;
  font-style: italic;
  padding: 40px;
  border: 1px solid black;
}

/* box2 */

.box2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 30px;
  column-gap: 20px;
}

.box2--card1 {
  height: 70%;
  margin-top: 30%;
}

.box2--card1 h1 {
  width: 200px;
}

.box2--card2 {
  margin-top: 30%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.box2--card2 img {
  object-fit: cover;
  width: 100%;
  height: 90%;
  font-family: "Hammersmith One", sans-serif;
}

.img2 img {
  object-position: -80px 0px;
}

.box2--card2 p {
  text-decoration: underline;
}

/* box3 */
.box3 {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
}

.box3-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box3-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 50px;
  column-gap: 20px;
  height: 150px;
}

.box3-card {
  display: grid;
  grid-template-columns: 1fr;
}

.box3-card p {
  width: 280px;
  padding-top: 20px;
}

/* footer */

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img-container {
  background-image: url(images/night-darios.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  background-position: center;
}

.contact-info {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding-left: 50px;
  padding-top: 80px;
  background-color: rgb(245, 245, 239);
  height: 500px;
}

.contact-info-title {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-size: 35px;
  padding: 20px;
}

.contact-info-paths {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  width: 220px;
  padding: 20px;
  margin-top: 20px;
}

.myphone,
.myemail,
.myaddress {
  font-size: 12px;
  margin-bottom: 30px;
}

.myphone p,
.myemail p,
.myaddress p {
  font-size: 12px;
  margin-top: 3px;
  color: #535353;
}
